<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: header">
</head>
<body>

<div th:replace="fragments :: nav"></div>

<div>
    <h2>Make a Post</h2>
</div>

<form method="post">
    <div>
        <label th:for="title">Title
            <input th:field="${postFormDTO.title}">
        </label>
        <p th:errors="${postFormDTO.title}"></p>
    </div>
    <div>
        <label th:for="text">Text
            <input th:field="${postFormDTO.text}">
        </label>
        <p th:errors="${postFormDTO.text}"></p>
    </div>
    <div>
        <label>Public?
            <input type="checkbox" name="isPublic" th:checked="${postFormDTO.isPublic}">
        </label>
    </div>
    <input type="submit" value="Create" />
</form>
</body>
</html>